<a href="https://colab.research.google.com/github/datagrad/EDA-of-Bank-Telemarketing-Campaign/blob/main/Bank_TeleMarketing_Campaign_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bank Telemarketing Campaign Case Study.

In this case study you’ll be learning Exploratory Data Analytics with the help of a case study on "Bank marketing campaign". This will enable you to understand why EDA is a most important step in the process of Machine Learning.

#### Problem Statement:

 

The bank provides financial services/products such as savings accounts, current accounts, debit cards, etc. to its customers. In order to increase its overall revenue, the bank conducts various marketing campaigns for its financial products such as credit cards, term deposits, loans, etc. These campaigns are intended for the bank’s existing customers. However, the marketing campaigns need to be cost-efficient so that the bank not only increases their overall revenues but also the total profit. You need to apply your knowledge of EDA on the given dataset to analyse the patterns and provide inferences/solutions for the future marketing campaign.

The bank conducted a telemarketing campaign for one of its financial products ‘Term Deposits’ to help foster long-term relationships with existing customers. The dataset contains information about all the customers who were contacted during a particular year to open term deposit accounts.


**What is the term Deposit?**

Term deposits also called fixed deposits, are the cash investments made for a specific time period ranging from 1 month to 5 years for predetermined fixed interest rates. The fixed interest rates offered for term deposits are higher than the regular interest rates for savings accounts. The customers receive the total amount (investment plus the interest) at the end of the maturity period. Also, the money can only be withdrawn at the end of the maturity period. Withdrawing money before that will result in an added penalty associated, and the customer will not receive any interest returns.

Your target is to do end to end EDA on this bank telemarketing campaign data set to infer knowledge that where bank has to put more effort to improve it's positive response rate.

#### Importing the libraries.

In [1]:
#import the warnings.
import warnings
warnings.filterwarnings("ignore")

In [2]:
#import the useful libraries.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Session- 2, Data Cleaning

### Segment- 2, Data Types

There are multiple types of data types available in the data set. some of them are numerical type and some of categorical type. You are required to get the idea about the data types after reading the data frame. 

Following are the some of the types of variables:
- **Numeric data type**: banking dataset: salary, balance, duration and age.
- **Categorical data type**: banking dataset: education, job, marital, poutcome and month etc.
- **Ordinal data type**: banking dataset: Age group.
- **Time and date type** 
- **Coordinates type of data**: latitude and longitude type.

#### Read in the Data set.

#### 1. Read CSV FILE

In [3]:
#read the data set of "bank telemarketing campaign" in inp0.
df= pd.read_csv("https://raw.githubusercontent.com/datagrad/EDA-of-Bank-Telemarketing-Campaign/main/bank_marketing_updated_v1.csv?token=GHSAT0AAAAAABT3FJQMBRCCFK2Z5F4BT3TKYTTSUHA")

In [4]:
#Print the head of the data frame.
df= pd.read_csv("https://raw.githubusercontent.com/datagrad/EDA-of-Bank-Telemarketing-Campaign/main/bank_marketing_updated_v1.csv?token=GHSAT0AAAAAABT3FJQMBRCCFK2Z5F4BT3TKYTTSUHA")
df.head()

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no

In [5]:
#Print the head of the data without first 2 rows.
df= pd.read_csv("https://raw.githubusercontent.com/datagrad/EDA-of-Bank-Telemarketing-Campaign/main/bank_marketing_updated_v1.csv?token=GHSAT0AAAAAABT3FJQMBRCCFK2Z5F4BT3TKYTTSUHA",skiprows=2)
df.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

##### 2. Head & Tail Check

In [6]:
df.head().append(df.tail())

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no
45206,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45207,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45208,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45209,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45210,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

In [7]:
# Check List of all Columns:

df.columns

Index(['customerid', 'age', 'salary', 'balance', 'marital', 'jobedu',
       'targeted', 'default', 'housing', 'loan', 'contact', 'day', 'month',
       'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'response'],
      dtype='object')

In [8]:
df.shape

(45211, 19)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  45211 non-null  int64
 1   age         45191 non-null  float64
 2   salary      45211 non-null  int64
 3   balance     45211 non-null  int64
 4   marital     45211 non-null  object
 5   jobedu      45211 non-null  object
 6   targeted    45211 non-null  object
 7   default     45211 non-null  object
 8   housing     45211 non-null  object
 9   loan        45211 non-null  object
 10  contact     45211 non-null  object
 11  day         45211 non-null  int64
 12  month       45161 non-null  object
 13  duration    45211 non-null  object
 14  campaign    45211 non-null  int64
 15  pdays       45211 non-null  int64
 16  previous    45211 non-null  int64
 17  poutcome    45211 non-null  object
 18  response    45181 non-null  object
dtypes: float64(1), int64(7), object(11)
memory usage: 6.6+ MB

In [24]:
df.isnull().sum()

customerid    0
age           0
salary        0
balance       0
marital       0
jobedu        0
targeted      0
default       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
response      0
dtype: int64

In [11]:
percent = 100*(df.isnull().sum())/int(df.shape[0])
percent.sort_values(ascending=False)

month         0.110593
response      0.066356
age           0.044237
contact       0.000000
poutcome      0.000000
previous      0.000000
pdays         0.000000
campaign      0.000000
duration      0.000000
day           0.000000
customerid    0.000000
housing       0.000000
default       0.000000
targeted      0.000000
jobedu        0.000000
marital       0.000000
balance       0.000000
salary        0.000000
loan          0.000000
dtype: float64

In [12]:
# Number of Rows with Null Value Count

df.isnull().any(axis = 1).sum()

# SO there are 100 rows all together, where we have a missing value!

100

In [13]:
# Analyzing the rows with null values

df.loc[df.isnull().any(axis=1)]

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
161,162,NaN,60000,47,single,"technician,tertiary",no,no,yes,no,unknown,5,"may, 2017",181 sec,1,-1,0,unknown,no
189,190,31.0,100000,0,single,"management,tertiary",no,no,yes,no,unknown,5,NaN,562 sec,1,-1,0,unknown,no
769,770,39.0,20000,245,married,"blue-collar,primary",yes,no,yes,no,unknown,7,NaN,148 sec,3,-1,0,unknown,no
860,861,33.0,55000,165,married,"retired,secondary",yes,no,no,no,unknown,7,NaN,111 sec,1,-1,0,unknown,no
1016,1017,37.0,20000,139,divorced,"blue-collar,primary",yes,no,yes,no,unknown,7,"may, 2017",71 sec,1,-1,0,unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43323,43324,54.0,70000,0,divorced,"services,secondary",yes,no,no,no,cellular,18,NaN,6.03333333333333 min,1,290,3,success,yes
43573,43574,NaN,16000,962,married,"housemaid,secondary",yes,no,yes,no,cellular,28,"apr, 2017",10.3833333333333 min,1,181,3,success,yes
44131,44132,27.0,100000,843,single,"management,secondary",yes,no,no,no,cellular,12,NaN,2.05 min,2,185,1,success,no
44732,44733,23.0,4000,508,single,"student,tertiary",no,no,no,no,cellular,8,NaN,3.5 min,1,92,1,failure,no
44974,44975,NaN,100000,839,married,"management,tertiary",yes,no,no,yes,cellular,11,"oct, 2017",6.08333333333333 min,2,774,11,failure,no

In [14]:
# Analyzing the rows where age has null values

df.loc[df['age'].isnull()]


# No such particular pattern and can be dropped

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
161,162,NaN,60000,47,single,"technician,tertiary",no,no,yes,no,unknown,5,"may, 2017",181 sec,1,-1,0,unknown,no
1021,1022,NaN,60000,-500,married,"technician,secondary",yes,no,yes,no,unknown,7,"may, 2017",78 sec,5,-1,0,unknown,no
1585,1586,NaN,100000,123,divorced,"management,secondary",yes,no,no,no,unknown,8,"may, 2017",306 sec,2,-1,0,unknown,no
3943,3944,NaN,70000,62,married,"services,tertiary",yes,no,yes,yes,unknown,16,"may, 2017",280 sec,2,-1,0,unknown,no
5675,5676,NaN,20000,-85,married,"blue-collar,primary",yes,no,yes,yes,unknown,26,"may, 2017",118 sec,1,-1,0,unknown,no
6873,6874,NaN,70000,1336,divorced,"services,secondary",yes,no,yes,no,unknown,28,"may, 2017",298 sec,5,-1,0,unknown,no
9692,9693,NaN,50000,-162,single,"admin.,tertiary",no,no,yes,yes,unknown,6,"jun, 2017",119 sec,1,-1,0,unknown,no
11653,11654,NaN,8000,2562,single,"unemployed,primary",yes,no,no,no,unknown,20,"jun, 2017",489 sec,2,-1,0,unknown,no
13417,13418,NaN,20000,452,divorced,"blue-collar,primary",yes,no,yes,no,cellular,9,"jul, 2017",96 sec,1,-1,0,unknown,no
14541,14542,NaN,20000,-84,married,"blue-collar,secondary",yes,no,no,yes,cellular,15,"jul, 2017",1.25 min,4,-1,0,unknown,no
17159,17160,NaN,120000,-2082,married,"entrepreneur,secondary",yes,yes,no,yes,cellular,28,"jul, 2017",2.05 min,6,-1,0,unknown,no
19457,19458,NaN,60000,1055,married,"technician,secondary",yes,no,yes,no,cellular,7,"aug, 2017",4.35 min,2,-1,0,unknown,no
23483,23484,NaN,120000,456,married,"entrepreneur,secondary",yes,no,yes,yes,cellular,28,"aug, 2017",2.28333333333333 min,8,-1,0,unknown,no
23939,23940,NaN,20000,85,married,"blue-collar,primary",yes,no,no,no,cellular,29,"aug, 2017",2.21666666666667 min,4,-1,0,unknown,no
26531,26532,NaN,60000,8112,divorced,"self-employed,secondary",yes,no,yes,yes,cellular,20,"nov, 2017",1.06666666666667 min,1,-1,0,unknown,no
35920,35921,NaN,20000,1,divorced,"blue-collar,primary",yes,no,yes,no,cellular,8,"may, 2017",0.6 min,5,336,9,failure,no
40757,40758,NaN,55000,3444,divorced,"retired,tertiary",no,no,no,no,cellular,10,"aug, 2017",4.2 min,1,185,2,success,yes
40994,40995,NaN,100000,3371,single,"management,tertiary",no,no,yes,yes,cellular,13,"aug, 2017",4.73333333333333 min,1,92,2,failure,no
43573,43574,NaN,16000,962,married,"housemaid,secondary",yes,no,yes,no,cellular,28,"apr, 2017",10.3833333333333 min,1,181,3,success,yes
44974,44975,NaN,100000,839,married,"management,tertiary",yes,no,no,yes,cellular,11,"oct, 2017",6.08333333333333 min,2,774,11,failure,no

In [15]:
# Analyzing the rows where month has null values

df.loc[df['month'].isnull()]


# No such particular pattern and can be dropped

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
189,190,31.0,100000,0,single,"management,tertiary",no,no,yes,no,unknown,5,NaN,562 sec,1,-1,0,unknown,no
769,770,39.0,20000,245,married,"blue-collar,primary",yes,no,yes,no,unknown,7,NaN,148 sec,3,-1,0,unknown,no
860,861,33.0,55000,165,married,"retired,secondary",yes,no,no,no,unknown,7,NaN,111 sec,1,-1,0,unknown,no
1267,1268,36.0,50000,114,married,"admin.,secondary",yes,no,yes,yes,unknown,8,NaN,147 sec,1,-1,0,unknown,no
1685,1686,34.0,20000,457,married,"blue-collar,secondary",yes,no,yes,no,unknown,9,NaN,266 sec,1,-1,0,unknown,no
1899,1900,49.0,16000,164,divorced,"housemaid,primary",yes,no,yes,no,unknown,9,NaN,1080 sec,5,-1,0,unknown,no
2433,2434,26.0,60000,3825,married,"technician,tertiary",yes,no,yes,no,unknown,13,NaN,107 sec,1,-1,0,unknown,no
2612,2613,38.0,50000,446,single,"admin.,unknown",no,no,yes,no,unknown,13,NaN,386 sec,1,-1,0,unknown,no
2747,2748,48.0,120000,2550,married,"entrepreneur,unknown",no,no,yes,no,unknown,14,NaN,175 sec,3,-1,0,unknown,no
3556,3557,41.0,20000,59,married,"blue-collar,secondary",yes,no,yes,no,unknown,15,NaN,75 sec,8,-1,0,unknown,no
3890,3891,56.0,55000,4391,married,"retired,unknown",no,no,yes,no,unknown,16,NaN,291 sec,1,-1,0,unknown,no
5311,5312,22.0,20000,0,single,"blue-collar,secondary",yes,no,yes,no,unknown,23,NaN,816 sec,2,-1,0,unknown,no
6265,6266,32.0,50000,13,single,"admin.,secondary",yes,no,yes,no,unknown,27,NaN,88 sec,2,-1,0,unknown,no
6396,6397,24.0,70000,0,married,"services,tertiary",yes,no,yes,no,unknown,27,NaN,299 sec,1,-1,0,unknown,no
8433,8434,38.0,60000,12926,single,"technician,secondary",yes,no,yes,no,unknown,3,NaN,280 sec,1,-1,0,unknown,no
8792,8793,24.0,50000,262,married,"admin.,secondary",yes,no,yes,no,unknown,4,NaN,69 sec,3,-1,0,unknown,no
10627,10628,45.0,60000,533,married,"technician,tertiary",yes,no,yes,no,unknown,16,NaN,332 sec,2,-1,0,unknown,no
11016,11017,46.0,70000,741,married,"services,primary",yes,no,no,no,unknown,17,NaN,161 sec,3,-1,0,unknown,no
11284,11285,44.0,16000,1059,single,"housemaid,primary",yes,no,no,no,unknown,18,NaN,2093 sec,1,-1,0,unknown,yes
11394,11395,54.0,60000,415,married,"technician,secondary",yes,no,yes,no,unknown,19,NaN,34 sec,31,-1,0,unknown,no
14502,14503,35.0,70000,819,married,"services,secondary",yes,no,yes,no,telephone,14,NaN,1.7 min,14,-1,0,unknown,no
15795,15796,38.0,20000,-41,married,"blue-collar,primary",yes,no,yes,no,cellular,21,NaN,1.13333333333333 min,10,-1,0,unknown,no
16023,16024,35.0,60000,328,married,"technician,tertiary",yes,no,yes,no,cellular,22,NaN,10.9 min,2,-1,0,unknown,yes
16850,16851,45.0,55000,25,married,"retired,primary",yes,no,no,yes,cellular,25,NaN,1.91666666666667 min,3,-1,0,unknown,no
17568,17569,56.0,70000,0,married,"services,unknown",no,no,no,no,cellular,29,NaN,1.38333333333333 min,2,-1,0,unknown,no
18431,18432,42.0,70000,247,single,"services,secondary",yes,no,yes,no,cellular,31,NaN,1.9 min,2,-1,0,unknown,no
18942,18943,49.0,50000,949,married,"admin.,secondary",yes,no,no,no,cellular,4,NaN,1.51666666666667 min,1,-1,0,unknown,no
19118,19119,38.0,50000,1980,married,"admin.,tertiary",yes,no,no,no,cellular,5,NaN,2.93333333333333 min,2,-1,0,unknown,no
19769,19770,36.0,100000,162,married,"management,tertiary",yes,no,yes,no,cellular,8,NaN,1.25 min,2,-1,0,unknown,no
21777,21778,56.0,16000,605,married,"housemaid,primary",yes,no,no,no,cellular,19,NaN,3.45 min,6,-1,0,unknown,no
21962,21963,36.0,60000,1044,single,"technician,secondary",yes,no,yes,no,cellular,20,NaN,0.25 min,19,-1,0,unknown,no
23897,23898,46.0,20000,123,married,"blue-collar,primary",yes,no,no,no,cellular,29,NaN,2.8 min,2,-1,0,unknown,no
25658,25659,35.0,60000,8647,married,"self-employed,tertiary",yes,no,no,no,cellular,19,NaN,2.33333333333333 min,2,-1,0,unknown,no
27480,27481,31.0,100000,3283,single,"management,tertiary",no,no,no,no,cellular,21,NaN,6.28333333333333 min,1,-1,0,unknown,no
28693,28694,26.0,16000,543,married,"housemaid,tertiary",yes,no,no,no,cellular,30,NaN,2.81666666666667 min,3,-1,0,unknown,no
30740,30741,32.0,100000,2770,single,"management,tertiary",no,no,no,no,telephone,6,NaN,0.733333333333333 min,9,-1,0,unknown,no
31551,31552,54.0,55000,136,married,"retired,primary",yes,no,yes,no,cellular,3,NaN,5.86666666666667 min,1,332,2,failure,no
35773,35774,52.0,20000,33,married,"blue-collar,unknown",no,no,no,no,telephone,8,NaN,5.01666666666667 min,1,-1,0,unknown,no
37194,37195,36.0,20000,1969,married,"blue-collar,secondary",yes,no,yes,yes,cellular,13,NaN,1.45 min,1,-1,0,unknown,no
37819,37820,34.0,20000,237,married,"blue-collar,secondary",yes,no,yes,no,cellular,14,NaN,1.91666666666667 min,3,-1,0,unknown,no
38158,38159,34.0,60000,1317,divorced,"technician,tertiary",no,no,yes,no,cellular,15,NaN,3.98333333333333 min,1,-1,0,unknown,no
39188,39189,30.0,60000,778,single,"technician,secondary",yes,no,yes,no,cellular,18,NaN,0.366666666666667 min,2,346,2,failure,no
41090,41091,35.0,100000,7218,single,"management,tertiary",no,no,no,no,cellular,14,NaN,3.73333333333333 min,3,-1,0,unknown,no
41434,41435,43.0,100000,13450,married,"management,tertiary",yes,no,yes,no,cellular,4,NaN,2.13333333333333 min,1,-1,0,unknown,no
41606,41607,25.0,100000,808,single,"management,tertiary",no,no,no,no,cellular,18,NaN,4.45 min,2,114,2,failure,yes
43001,43002,35.0,60000,353,single,"self-employed,tertiary",no,no,no,no,cellular,11,NaN,5.86666666666667 min,1,183,1,success,yes
43021,43022,52.0,100000,4675,married,"management,tertiary",yes,no,no,no,cellular,12,NaN,3.01666666666667 min,3,-1,0,unknown,yes
43323,43324,54.0,70000,0,divorced,"services,secondary",yes,no,no,no,cellular,18,NaN,6.03333333333333 min,1,290,3,success,yes
44131,44132,27.0,100000,843,single,"management,secondary",yes,no,no,no,cellular,12,NaN,2.05 min,2,185,1,success,no
44732,44733,23.0,4000,508,single,"student,tertiary",no,no,no,no,cellular,8,NaN,3.5 min,1,92,1,failure,no

In [16]:
# Analyzing the rows where response has null values

df.loc[df['response'].isnull()]


# No such particular pattern and can be dropped

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
1016,1017,37.0,20000,139,divorced,"blue-collar,primary",yes,no,yes,no,unknown,7,"may, 2017",71 sec,1,-1,0,unknown,NaN
2027,2028,33.0,60000,0,married,"technician,secondary",yes,no,yes,yes,unknown,9,"may, 2017",173 sec,2,-1,0,unknown,NaN
2568,2569,31.0,20000,81,married,"blue-collar,primary",yes,no,yes,no,unknown,13,"may, 2017",245 sec,4,-1,0,unknown,NaN
2695,2696,38.0,20000,0,married,"blue-collar,primary",yes,no,no,no,unknown,13,"may, 2017",209 sec,2,-1,0,unknown,NaN
5258,5259,37.0,60000,0,married,"technician,secondary",yes,no,yes,no,unknown,23,"may, 2017",412 sec,6,-1,0,unknown,NaN
8529,8530,45.0,100000,1373,married,"management,tertiary",yes,no,yes,no,unknown,3,"jun, 2017",192 sec,4,-1,0,unknown,NaN
8571,8572,44.0,70000,-1621,married,"services,secondary",yes,no,yes,yes,unknown,3,"jun, 2017",171 sec,5,-1,0,unknown,NaN
9268,9269,58.0,16000,419,married,"housemaid,primary",yes,no,no,yes,unknown,5,"jun, 2017",295 sec,3,-1,0,unknown,NaN
11534,11535,55.0,100000,179,married,"management,unknown",no,no,no,no,unknown,19,"jun, 2017",97 sec,1,-1,0,unknown,NaN
12185,12186,45.0,20000,-160,married,"blue-collar,primary",yes,no,yes,no,unknown,20,"jun, 2017",15 sec,26,-1,0,unknown,NaN
17262,17263,40.0,60000,134,single,"technician,secondary",yes,no,yes,yes,cellular,28,"jul, 2017",2.1 min,2,-1,0,unknown,NaN
21243,21244,35.0,100000,750,married,"management,tertiary",yes,no,yes,no,cellular,18,"aug, 2017",3.88333333333333 min,12,-1,0,unknown,NaN
21271,21272,56.0,70000,4914,married,"services,secondary",yes,no,no,no,cellular,18,"aug, 2017",1.16666666666667 min,4,-1,0,unknown,NaN
22002,22003,30.0,60000,790,single,"technician,secondary",yes,no,no,no,cellular,20,"aug, 2017",11.6 min,3,-1,0,unknown,NaN
23247,23248,32.0,100000,2204,married,"management,tertiary",yes,no,no,no,cellular,27,"aug, 2017",2.05 min,4,-1,0,unknown,NaN
24253,24254,39.0,50000,401,married,"admin.,secondary",yes,no,yes,no,cellular,17,"nov, 2017",6.6 min,1,129,2,failure,NaN
24276,24277,31.0,120000,1454,single,"entrepreneur,tertiary",no,no,no,no,cellular,17,"nov, 2017",6.28333333333333 min,1,-1,0,unknown,NaN
24300,24301,42.0,60000,35,single,"technician,tertiary",no,no,yes,yes,cellular,17,"nov, 2017",0.633333333333333 min,1,115,5,other,NaN
25851,25852,31.0,70000,593,married,"services,secondary",yes,no,yes,no,cellular,19,"nov, 2017",6.51666666666667 min,2,-1,0,unknown,NaN
26557,26558,34.0,60000,1545,married,"self-employed,tertiary",yes,no,yes,no,cellular,20,"nov, 2017",14.9166666666667 min,1,183,2,failure,NaN
29127,29128,29.0,50000,196,single,"admin.,secondary",yes,no,no,no,telephone,2,"feb, 2017",4.46666666666667 min,1,-1,0,unknown,NaN
32606,32607,31.0,60000,578,single,"self-employed,tertiary",no,no,yes,no,cellular,17,"apr, 2017",11.0666666666667 min,1,319,4,failure,NaN
33763,33764,31.0,60000,1734,single,"self-employed,tertiary",no,no,no,no,cellular,22,"apr, 2017",1.93333333333333 min,4,-1,0,unknown,NaN
37065,37066,39.0,70000,276,married,"services,primary",yes,no,yes,yes,cellular,13,"may, 2017",10.4666666666667 min,1,-1,0,unknown,NaN
38044,38045,55.0,50000,-288,divorced,"admin.,secondary",yes,no,yes,no,cellular,14,"may, 2017",1.03333333333333 min,4,352,2,failure,NaN
39099,39100,29.0,60000,476,single,"self-employed,tertiary",no,no,yes,no,cellular,18,"may, 2017",7.11666666666667 min,1,-1,0,unknown,NaN
39504,39505,38.0,50000,755,married,"admin.,secondary",yes,no,yes,no,cellular,25,"may, 2017",8.85 min,1,97,1,success,NaN
39976,39977,39.0,50000,150,married,"admin.,secondary",yes,no,no,no,cellular,3,"jun, 2017",4.93333333333333 min,4,-1,0,unknown,NaN
40397,40398,69.0,55000,1806,divorced,"retired,secondary",yes,no,no,no,cellular,1,"jul, 2017",2.46666666666667 min,2,-1,0,unknown,NaN
40774,40775,70.0,20000,3075,married,"blue-collar,primary",yes,no,no,no,telephone,10,"aug, 2017",1.23333333333333 min,1,-1,0,unknown,NaN

In [17]:
# Check Duplicate Rows count

df.duplicated().sum()

0

In [18]:
#Duplicate rows count was "0" here, if there were any duplicates, those could have been dropped using below code:


# df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

In [23]:
# Numerical Column Description
df.describe()

,customerid,age,salary,balance,day,campaign,pdays,previous
count,45111.000000,45111.000000,45111.000000,45111.000000,45111.000000,45111.000000,45111.000000,45111.000000
mean,22610.660349,40.938352,57005.785729,1362.539647,15.808118,2.762541,40.193323,0.580391
std,13048.080128,10.619601,32090.324851,3046.016714,8.323389,3.093698,100.094574,2.304710
min,1.000000,18.000000,0.000000,-8019.000000,1.000000,1.000000,-1.000000,0.000000
25%,11312.500000,33.000000,20000.000000,72.000000,8.000000,1.000000,-1.000000,0.000000
50%,22613.000000,39.000000,60000.000000,448.000000,16.000000,2.000000,-1.000000,0.000000
75%,33908.500000,48.000000,70000.000000,1428.000000,21.000000,3.000000,-1.000000,0.000000
max,45211.000000,95.000000,120000.000000,102127.000000,31.000000,63.000000,871.000000,275.000000

Comparing Mean and Median values in each column, Below Columns could have Outliners or irregularities:

* balance
* pdays

In [ ]:
Stop

### Segment- 3, Fixing the Rows and Columns

##### Drop the null value count as decided

In [21]:
df = df.dropna()

# Since we checked all the null values and sure about dropping all, from all the columns, we used dropna() for df
# To drop the null value rows column wise, we could replace df with df["column_name"]

# df = df["age"].dropna()

# Recheck Null Count
df.isnull().sum()

customerid    0
age           0
salary        0
balance       0
marital       0
jobedu        0
targeted      0
default       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
response      0
dtype: int64

Checklist for fixing rows:
- **Delete summary rows**: Total and Subtotal rows
- **Delete incorrect rows**: Header row and footer row
- **Delete extra rows**: Column number, indicators, Blank rows, Page No.

Checklist for fixing columns:
- **Merge columns for creating unique identifiers**, if needed, for example, merge the columns State and City into the column Full address.
- **Split columns to get more data**: Split the Address column to get State and City columns to analyse each separately. 
- **Add column names**: Add column names if missing.
- **Rename columns consistently**: Abbreviations, encoded columns.
- **Delete columns**: Delete unnecessary columns.
- **Align misaligned columns**: The data set may have shifted columns, which you need to align correctly.

#### Read the file without unnecessary headers.

In [ ]:
#read the file in inp0 without first two rows as it is of no use.
inp0= pd.read_csv("https://raw.githubusercontent.com/datagrad/EDA-of-Bank-Telemarketing-Campaign/main/bank_marketing_updated_v1.csv?token=GHSAT0AAAAAABT3FJQMBRCCFK2Z5F4BT3TKYTTSUHA",skiprows = 2)
inp0.head()

In [ ]:
#print the head of the data frame.
inp0.head()

In [ ]:
#print the information of variables to check their data types.

In [ ]:
#convert the age variable data type from float to integer.

In [ ]:
#print the average age of customers.

#### Dropping customer id column.

In [ ]:
#drop the customer id as it is of no use.

inp0.drop("customerid", axis = 1, inplace = True)
inp0.head()

#### Dividing "jobedu" column into job and education categories.

In [ ]:
#Extract job in newly created 'job' column from "jobedu" column.
inp0['job']=

In [ ]:
#Extract education in newly created 'education' column from "jobedu" column.
inp0['education']=

In [ ]:
#drop the "jobedu" column from the dataframe.

### Segment- 4, Impute/Remove missing values

Take aways from the lecture on missing values:

- **Set values as missing values**: Identify values that indicate missing data, for example, treat blank strings, "NA", "XX", "999", etc., as missing.
- **Adding is good, exaggerating is bad**: You should try to get information from reliable external sources as much as possible, but if you can’t, then it is better to retain missing values rather than exaggerating the existing rows/columns.
- **Delete rows and columns**: Rows can be deleted if the number of missing values is insignificant, as this would not impact the overall analysis results. Columns can be removed if the missing values are quite significant in number.
- **Fill partial missing values using business judgement**: Such values include missing time zone, century, etc. These values can be identified easily.

Types of missing values:
- **MCAR**: It stands for Missing completely at random (the reason behind the missing value is not dependent on any other feature).
- **MAR**: It stands for Missing at random (the reason behind the missing value may be associated with some other features).
- **MNAR**: It stands for Missing not at random (there is a specific reason behind the missing value).

#### handling missing values in age column.

In [ ]:
#count the missing values in age column.

In [ ]:
#pring the shape of dataframe inp0

In [ ]:
#calculate the percentage of missing values in age column.

Drop the records with age missing.

In [ ]:
#drop the records with age missing in inp0 and copy in inp1 dataframe.
inp1=

#### handling missing values in month column

In [ ]:
#count the missing values in month column in inp1.

In [ ]:
#print the percentage of each month in the data frame inp1.

In [ ]:
#find the mode of month in inp1

In [ ]:
# fill the missing values with mode value of month in inp1.

In [ ]:
#let's see the null values in the month column.

#### handling missing values in response column

In [ ]:
#count the missing values in response column in inp1.

In [ ]:
#calculate the percentage of missing values in response column.

Target variable is better of not imputed.
- Drop the records with missing values.

In [ ]:
#drop the records with response missings in inp1.

In [ ]:
#calculate the missing values in each column of data frame: inp1.

#### handling pdays column.

In [ ]:
#describe the pdays column of inp1.

-1 indicates the missing values.
Missing value does not always be present as null.
How to handle it:

Objective is:
- you should ignore the missing values in the calculations
- simply make it missing - replace -1 with NaN.
- all summary statistics- mean, median etc. we will ignore the missing values of pdays.

In [ ]:
#describe the pdays column with considering the -1 values.

### Segment- 5, Handling Outliers

Major approaches to the treat outliers:
 		
- **Imputation**
- **Deletion of outliers**
- **Binning of values**
- **Cap the outlier**

#### Age variable

In [ ]:
#describe the age variable in inp1.

In [ ]:
#plot the histogram of age variable.

In [ ]:
#plot the boxplot of age variable.

#### Salary variable

In [ ]:
#describe the salary variable of inp1.

In [ ]:
#plot the boxplot of salary variable.

#### Balance variable

In [ ]:
#describe the balance variable of inp1.

In [ ]:
#plot the boxplot of balance variable.

In [ ]:
#plot the boxplot of balance variable after scaling in 8:2.

In [ ]:
#print the quantile (0.5, 0.7, 0.9, 0.95 and 0.99) of balance variable

### Segment- 6, Standardising values

Checklist for data standardization exercises:
- **Standardise units**: Ensure all observations under one variable are expressed in a common and consistent unit, e.g., convert lbs to kg, miles/hr to km/hr, etc.
- **Scale values if required**: Make sure all the observations under one variable have a common scale.
- **Standardise precision** for better presentation of data, e.g., change 4.5312341 kg to 4.53 kg.
- **Remove extra characters** such as common prefixes/suffixes, leading/trailing/multiple spaces, etc. These are irrelevant to analysis.
- **Standardise case**: String variables may take various casing styles, e.g., UPPERCASE, lowercase, Title Case, Sentence case, etc.
- **Standardise format**: It is important to standardise the format of other elements such as date, name, etce.g., change 23/10/16 to 2016/10/23, “Modi, Narendra” to “Narendra Modi", etc.

#### Duration variable

In [ ]:
#describe the duration variable of inp1

In [ ]:
#convert the duration variable into single unit i.e. minutes. and remove the sec or min prefix.

In [ ]:
#describe the duration variable

## Session- 3, Univariate Analysis

### Segment- 2, Categorical unordered univariate analysis

Unordered data do not have the notion of high-low, more-less etc. Example:
- Type of loan taken by a person = home, personal, auto etc.
- Organisation of a person = Sales, marketing, HR etc.
- Job category of persone.
- Marital status of any one.

#### Marital status

In [ ]:
#calculate the percentage of each marital status category.

In [ ]:
#plot the bar graph of percentage marital status categories

#### Job

In [ ]:
#calculate the percentage of each job status category.

In [ ]:
#plot the bar graph of percentage job categories

### Segment- 3, Categorical ordered univariate analysis

Ordered variables have some kind of ordering. Some examples of bank marketing dataset are:
- Age group= <30, 30-40, 40-50 and so on.
- Month = Jan-Feb-Mar etc.
- Education = primary, secondary and so on.

#### Education

In [ ]:
#calculate the percentage of each education category.

In [ ]:
#plot the pie chart of education categories

#### poutcome

In [ ]:
#calculate the percentage of each poutcome category.

#### Response the target variable

In [ ]:
#calculate the percentage of each response category.

In [ ]:
#plot the pie chart of response categories

## Session- 4, Bivariate and Multivariate Analysis

### Segment-2, Numeric- numeric analysis

There are three ways to analyse the numeric- numeric data types simultaneously.
- **Scatter plot**: describes the pattern that how one variable is varying with other variable.
- **Correlation matrix**: to describe the linearity of two numeric variables.
- **Pair plot**: group of scatter plots of all numeric variables in the data frame.

In [ ]:
#plot the scatter plot of balance and salary variable in inp1

In [ ]:
#plot the scatter plot of balance and age variable in inp1

In [ ]:
#plot the pair plot of salary, balance and age in inp1 dataframe.

#### Correlation heat map

In [ ]:
#plot the correlation matrix of salary, balance and age in inp1 dataframe.

### Segment- 4, Numerical categorical variable

#### Salary vs response

In [ ]:
#groupby the response to find the mean of the salary with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the salary with response no & yes seperatly.

In [ ]:
#plot the box plot of salary for yes & no responses.

#### Balance vs response

In [ ]:
#plot the box plot of balance for yes & no responses.

In [ ]:
#groupby the response to find the mean of the balance with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the balance with response no & yes seperatly.

##### 75th percentile

In [ ]:
#function to find the 75th percentile.
def p75(x):
    return np.quantile(x, 0.75)

In [ ]:
#calculate the mean, median and 75th percentile of balance with response

In [ ]:
#plot the bar graph of balance's mean an median with response.

#### Education vs salary

In [ ]:
#groupby the education to find the mean of the salary education category.

In [ ]:
#groupby the education to find the median of the salary for each education category.

#### Job vs salary

In [ ]:
#groupby the job to find the mean of the salary for each job category.

### Segment- 5, Categorical categorical variable

In [ ]:
#create response_flag of numerical data type where response "yes"= 1, "no"= 0

#### Education vs response rate

In [ ]:
#calculate the mean of response_flag with different education categories.

#### Marital vs response rate

In [ ]:
#calculate the mean of response_flag with different marital status categories.

In [ ]:
#plot the bar graph of marital status with average value of response_flag

#### Loans vs response rate

In [ ]:
#plot the bar graph of personal loan status with average value of response_flag

#### Housing loans vs response rate

In [ ]:
#plot the bar graph of housing loan status with average value of response_flag

#### Age vs response

In [ ]:
#plot the boxplot of age with response_flag

##### making buckets from age columns

In [ ]:
#create the buckets of <30, 30-40, 40-50 50-60 and 60+ from age column.

In [ ]:
#plot the percentage of each buckets and average values of response_flag in each buckets. plot in subplots.

In [ ]:
#plot the bar graph of job categories with response_flag mean value.

### Segment-6, Multivariate analysis

#### Education vs marital vs response

In [ ]:
#create heat map of education vs marital vs response_flag

#### Job vs marital vs response

In [ ]:
#create the heat map of Job vs marital vs response_flag.

#### Education vs poutcome vs response

In [ ]:
#create the heat map of education vs poutcome vs response_flag.